#section1{
    
        background:url(Spain.jpg); no repeat center fixed;
        background-size:cover;

        }
        
#section2{
        background:url(cali.jpg); no repeat center fixed;
        background-size:cover;
        
        }
        
#section3{
        background:url(australuia.jpg); no repeat center fixed;
        background-size:cover;
        }
        
.section{
        text-align: center;
        color:white;
}